@import '../../../../App.scss';

.logo-lg{
    font-family: $font;
    font-weight: $font-bold;
    font-size: $logo-size-lg;
    text-align: center;
    color: $gray-900;
    padding: 10% 0% 5%;
    }

