@import "../../../App.scss";

.user-card-award {
  background: $white-300;
  border-radius: 20px;
  box-shadow: -2px 2px 8px 0px rgba(78, 57, 216, 0.2);
  margin: 21px;
  flex: 1;

  .award-text {
    padding: 0% 0% 5% 5%;
  }
}
