@import "../../../App.scss";

.user-card-stats {
  display: flex;
  flex-direction: column;

  .profile_image_container {
    width: 25%;
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 3% 0%;

    .profile_image {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  .profile_data {
    flex: 1;
    display: flex;
    justify-content: space-around;

    .user_stats {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .user_stats_number {
        display: flex;
        justify-content: space-around;
        font-size: 1.6rem;
        font-weight: $font-bold;
        color: $gray-500;
      }

      .user_stats_data {
        display: flex;
        justify-content: space-around;
        text-align: center;
        font-size: 1rem;
        color: $gray-600;
        padding: 5% 0 0;
      }
    }
  }
}
