@import "../../../App.scss";

.user-container {
  flex: 1;
  display: flex;
  width: 100%;

  .user-card-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: darkseagreen;
  }

  .user-card-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: darksalmon;

    .user-features {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .card-holder {
        flex: 1;
      }
    }
  }
}


 .card-header {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .recently-unlocked{
        padding: 5% 0% 5% 5%;
        font-size: 0.9em;
        color: $gray-600;
        font-weight: 600;
    }

    .see-all{
        padding: 5.3% 5% 5% 0%;
        font-size: 0.7em;
        color: $primary-1000;
        font-weight: 600;
    }
  }