.slider{
    box-sizing: border-box;
    margin-top: 4%;
    margin-bottom: 2%;
 
}

.box{
    width: 80%;
    margin: auto;
    text-align: center;
    max-width: 400px;
}

.css-16z8eut-MuiSlider-root {
    color: #4E39D8!important;
}

.css-jccrfp-MuiSlider-track {
    color: #4E39D8
}

.css-ebcf4f-MuiSlider-rail {
    height: 5px;
    color: #B8AFEF;
    border-radius: 10px;
}
