@import '../../../App.scss';


.primary-btn{
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    margin-top:  1.5em;
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
    font-weight: $font-regular;
    background-color: $primary-1000;
    color: $white-100;
    filter: $primary-shadow;
    font-family: $font;
    font-size: $font-size-sm;
    border-radius: $round-border;
    transition: $transition-btn;
    width:100%;
    border:none;
    outline:none;
    }
    
    .primary-btn:hover {
    background-color: $primary-900;
    filter: $hover-shadow;
    cursor: pointer;
    }
    

