@import "../../../App.scss";

.dashboard-wrapper {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  .flex-row-dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction:column;
    @media(min-width:900px){
      flex-direction:row;
    }
    .sidebar {
      background: $primary-1000;
      position: relative;
      transition: 0.1s;
      min-width: 300vw;
      flex:.5!important;
      order:2;
      @media (min-width: 700px) {
      order:initial;
      flex: 1;

      }
      svg {
        font-size: 2rem;
      }
      .primary-menu-sidebar {
        display:flex;
        flex-direction: row;
        margin: auto;
        padding: 0rem 0rem 0rem 2rem;
        @media (min-width: 700px) {
          flex-direction: column;
          }
        a {
          color: $primary-400;
          display: flex;
          width: 100%;
          white-space: nowrap;
          line-height: 2rem;
          text-decoration: none;
          box-sizing: border-box;
          transition: 0.5s;
          padding: 1rem 0rem;
          &:hover {
            color: $primary-100;
          }
          &:focus {
            color: $white-100;
          }
          i {
            padding-right: 10px;
            display: flex;
            align-items: center;
          }
          span{
            display:none;
            @media (min-width: 700px) {
              display: block;
              }
          }
        }
      }
      .primary-menu-sidebar-bottom {
        margin: auto;
        padding: 0rem 0rem 0rem 2rem;
        display:none;
        @media (min-width: 700px) {
        display:block;
        }
        button {
          display: flex;
          white-space: nowrap;
          align-items: center;
          color: $primary-200;
          display: flex;
          width: 100%;
          line-height: 60px;
          text-decoration: none;
          box-sizing: border-box;
          transition: 0.5s;
          padding: 1rem 0rem;
          @media (min-height: 700px) {
            margin: 0 auto;
            padding: 2rem;
            position: fixed;
            bottom: 1rem;
            left: -0.5rem;
          }
        }
        svg {
          font-size: 2rem !important;
        }
      }
    }
  }
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#check:checked ~ .sidebar {
  left: -190px;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 1.5em;
  margin-left: 170px;
  width: 80px;
}

.content {
 display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.5s;
  flex: 6 1;
  background-color: $white-300;
  overflow-y: scroll;
}

#check:checked ~ .content {
  margin-left: 60px;
}

#check {
  display: none;
}
