@import "../../../../App.scss";

.text-title {
  color: $gray-600;
  margin-bottom: 1%;
  text-align: left;
  position: relative;
  span {
    &.marked {
      text-decoration: line-through;
    }
    &.progress-points {
      position: absolute;
      right: 0;
    }
  }
}
